

body{
    margin-top: 10px;
     background-color:rgba(113, 245, 56, 0.73);
}

.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    width:100px;
    height:100px;
    border:3px solid rgb(22,77,100);
    border-radius:100%;
}
 .container{
            margin: 0 auto;
            color: 	#000000;
            font-family: Garmond,Times,serif;
            padding-left:5px;
            padding-right:5px;
        }
 .heading{
     color:rgba(245, 56, 56, 0.73);
 }
 .info{
     color:rgba(56, 201, 245, 0.73);
 }


