body {
    font-family: verdana;
    margin-top: 10px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container{
            margin: 0 auto;
            color: 	#000000;
               background-color: white ;
            font-family: verdana;
            padding-left:5px;
            padding-right:5px;
        }
 


